{
  "extends": [
    "codex/ts"
  ],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-magic-numbers": "off"
  },
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  }
}