# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
npm-debug.log

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

dist

.idea/
.DS_Store