p {
  margin: 0;
  padding: 0;
}

.speech {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  font-family: "Roboto Light", sans-serif;
}

.speech-timestamp {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1rem;
}

.speech-timestamp-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: rgba(27,27,40,.2);
  font-size: 1rem;
}

.speech-timestamp-content::before {
  content: attr(data-speaker);
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #2a5885;
  font-weight: 600;
}

.speech-timestamp-content::after {
  content: attr(data-timestamp);
}

.speech-content {
  margin-top: 24px;
  word-wrap: break-word;
  word-break: break-word;
  outline: none;
}

.speech-word {
  font-size: 1rem;
  color: #000;
  caret-color: black;
}
