p {
  margin: 0;
  padding: 0;
}

.speech {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  font-family: "Roboto Light", sans-serif;
  outline: none;
}

.speech-timestamp {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1rem;
}

.speech-timestamp-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: rgba(27,27,40,.2);
  font-size: 1rem;
}

.speech-timestamp-content .speaker-name {
  margin-right: .5rem;
  font-size: 1rem;
  color: #2a5885;
}

.speech-content {
  margin-top: 5px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: break-spaces;
}

.speech-word {
  font-size: 1rem;
  color: #000;
}
