p {
  margin: 0;
  padding: 0;
}

.speech {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  font-family: "Roboto Light", sans-serif;
}

.speech-timestamp {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1rem;
  cursor: pointer;
  padding-right: 30px;
}

.speech-timestamp-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: rgba(27,27,40,.2);
  font-size: 1rem;
}

.speech-timestamp-content::before {
  content: attr(data-speaker);
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #2a5885;
  font-weight: 600;
}

.speech-timestamp-content::after {
  content: attr(data-timestamp);
}

.speech-timestamp:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75 13.4375V16.25H5.5625L13.8575 7.955L11.045 5.1425L2.75 13.4375ZM16.0325 5.78C16.102 5.71062 16.1572 5.6282 16.1948 5.53747C16.2325 5.44674 16.2518 5.34948 16.2518 5.25125C16.2518 5.15303 16.2325 5.05576 16.1948 4.96503C16.1572 4.8743 16.102 4.79189 16.0325 4.7225L14.2775 2.9675C14.2081 2.89797 14.1257 2.84281 14.035 2.80518C13.9442 2.76754 13.847 2.74817 13.7488 2.74817C13.6505 2.74817 13.5533 2.76754 13.4625 2.80518C13.3718 2.84281 13.2894 2.89797 13.22 2.9675L11.8475 4.34L14.66 7.1525L16.0325 5.78V5.78Z' fill='%232a5885'/%3E%3C/svg%3E%0A");
  position: absolute;
  right: 0;
}

.speech-content {
  margin-top: 24px;
  word-wrap: break-word;
  word-break: break-word;
  outline: none;
}

.speech-word {
  font-size: 1rem;
  color: #000;
  caret-color: black;
}


.popover {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  margin-top: 30px;
  overflow: hidden;
  width: 300px;
  overflow-y: auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
  border: 1px solid #EAEAEA;
  background-color: #ffffff;
  display: none;
}

.popover--opened {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  animation: fn-popover-in 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.popover__buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding-top: 10px;
}

.popover__button {
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.04);
  border: solid 1px #e6e9eb;
  background-color: #ffffff;

  color: #1d202b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;

  cursor: pointer;
}

.speakers__wrapper {
  display: flex;
  flex-direction: column;
}

.speaker__item {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  height: 42px;
  margin-bottom: 7px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.speaker__item:hover, .speaker__item:active, .speaker__selected {
  background: #F8F8F8;
}

.speaker__title {
  margin-bottom: 10px;
}

.speaker__title::after {
  content: 'Изменить спикера';
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.speaker__name::before {
  content: attr(data-speaker-name);
  position: absolute;
  top: 12px;
  left: 55px;
  font-size: 1rem;
  font-weight: 600;
}

.speaker__icon {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

.speaker__not_found::after {
  content: 'Спикеры не были найдены';
}